Repository petrex/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, lint-shell, check-generated-files, fish-syntax, zsh-syntax

validate-config:
  name: Validate dotfiles configuration
  entry: ./scripts/validate-config.sh
  language: script
  pass_filenames: false

lint-shell:
  name: Lint shell scripts (custom script)
  entry: ./scripts/lint-shell
  language: script
  pass_filenames: false

check-generated-files:
  name: Check generated abbreviations are up-to-date
  entry: bash -c 'cd shared && ./generate-all-abbr.sh && git diff --exit-code fish/.config/fish/abbreviations.fish zsh/.config/zsh-abbr/abbreviations.zsh docs/abbreviations.md'
  language: system
  pass_filenames: false

fish-syntax:
  name: Check Fish shell syntax
  entry: fish --no-execute
  language: system

zsh-syntax:
  name: Check Zsh shell syntax
  entry: zsh -n
  language: system

fix(shell): resolve SCRIPT_DIR detection for Zsh compatibility
  shared/environment.sh
Due: validate-config, lint-shell

fix(shared): detect HOMEBREW_PREFIX before use
  shared/environment.sh
Due: validate-config, lint-shell

fix(fish): add missing end statement in fzf-git block
  fish/.config/fish/config.fish
Due: validate-config, fish-syntax

fix(pre-commit): correct run-tests script path
  .pre-commit-config.yaml
Due: none

chore(gitignore): add Claude Code runtime files and backup patterns
  .gitignore
Due: none

fix(zsh): use portable path for Docker completions
  zsh/.zshrc
Due: none

feat(scripts): add bootstrap script and trim Brewfile for AI infra
  README.md
  brew/Brewfile
  docs/setup/installation-guide.md
  scripts/bootstrap.sh
Due: validate-config, lint-shell

chore(brew): trim Brewfile for AI infra workflow
  brew/Brewfile
Due: none

chore(brew): trim Brewfile for AI infra workflow (#19)
  brew/Brewfile
Due: none

feat: extend bootstrap and shell configs for Linux (Ubuntu + CachyOS)
  CLAUDE.md
  bin/.local/bin/copy
  fish/.config/fish/config.fish
  packages/.stow-local-ignore
  packages/apt.txt
  packages/cachyos-extra.sh
  packages/pacman.txt
  packages/ubuntu-extra.sh
  scripts/bootstrap.sh
  setup.sh
  shared/environment.fish
  shared/environment.sh
  zsh/.zshrc
Due: validate-config, lint-shell, fish-syntax

chore: add gstack skill routing rules to CLAUDE.md
  CLAUDE.md
Due: none

feat: add Atuin shell history integration
  atuin/.config/atuin/config.toml
  brew/Brewfile
  fish/.config/fish/config.fish
  zsh/.zshrc
Due: validate-config, fish-syntax

feat: add AI-powered shell functions (ai-commit, ai-explain, ai-fix)
  bin/.local/bin/ai-commit
  bin/.local/bin/ai-explain
  bin/.local/bin/ai-fix
Due: none

feat: add abbreviation auditor with --fix mode
  scripts/audit-abbreviations.sh
Due: validate-config, lint-shell

chore: add Makefile for common operations
  Makefile
Due: none

test: add tests for AI shell functions and abbreviation auditor
  tests/utilities/test_ai_commit.bats
  tests/utilities/test_ai_explain.bats
  tests/utilities/test_ai_fix.bats
  tests/utilities/test_audit_abbreviations.bats
Due: none

refactor: simplify AI scripts and optimize abbreviation auditor
  bin/.local/bin/ai-commit
  bin/.local/bin/ai-explain
  bin/.local/bin/ai-fix
  scripts/audit-abbreviations.sh
  tests/utilities/test_ai_commit.bats
Due: validate-config, lint-shell

docs: rewrite README for AI-native dotfiles
  README.md
Due: none

chore: add claude config, ignore vendored skills, harden setup
  .gitignore
  .pre-commit-config.yaml
  claude/.claude/plugins/installed_plugins.json
  claude/.claude/plugins/known_marketplaces.json
  claude/.claude/rules/common/agents.md
  claude/.claude/rules/common/coding-style.md
  claude/.claude/rules/common/development-workflow.md
  claude/.claude/rules/common/git-workflow.md
  claude/.claude/rules/common/hooks.md
  claude/.claude/rules/common/patterns.md
  claude/.claude/rules/common/performance.md
  claude/.claude/rules/common/security.md
  claude/.claude/rules/common/testing.md
  claude/.claude/rules/golang/coding-style.md
  claude/.claude/rules/golang/hooks.md
  claude/.claude/rules/golang/patterns.md
  claude/.claude/rules/golang/security.md
  claude/.claude/rules/golang/testing.md
  claude/.claude/rules/python/coding-style.md
  claude/.claude/rules/python/hooks.md
  claude/.claude/rules/python/patterns.md
  claude/.claude/rules/python/security.md
  claude/.claude/rules/python/testing.md
  claude/.claude/rules/typescript/coding-style.md
  claude/.claude/rules/typescript/hooks.md
  claude/.claude/rules/typescript/patterns.md
  claude/.claude/rules/typescript/security.md
  claude/.claude/rules/typescript/testing.md
  claude/.claude/settings.json
  claude/.claude/skills/commands/brainstorm.md
  claude/.claude/skills/commands/execute-plan.md
  claude/.claude/skills/commands/write-plan.md
  setup.sh
Due: validate-config, lint-shell

feat: install gstack and Claude Code plugin marketplaces in bootstrap
  scripts/bootstrap.sh
Due: validate-config, lint-shell

fix: keep brew install bun stderr visible for debuggability
  scripts/bootstrap.sh
Due: validate-config, lint-shell

fix: point bootstrap clone URL at petrex/dotfiles
  docs/setup/installation-guide.md
  scripts/bootstrap.sh
Due: validate-config, lint-shell

docs: lead Quick Start with bootstrap.sh for fresh machines
  README.md
Due: none

fix: drop asdf-managed Python from bootstrap
  asdf/.tool-versions
  scripts/bootstrap.sh
Due: validate-config, lint-shell

fix(pacman): drop explicit zlib to avoid CachyOS zlib-ng-compat conflict
  packages/pacman.txt
Due: none

fix(zsh): source zsh-abbr from XDG path on Linux, scope HOMEBREW_PREFIX to macOS
  shared/environment.sh
  zsh/.config/zsh/plugins.zsh
Due: validate-config, lint-shell, zsh-syntax

fix: clone zsh-abbr with submodules to fix 'finishing installing dependencies' error
  packages/cachyos-extra.sh
Due: validate-config, lint-shell

fix(fish): stop sourcing bash-only fzf-git.sh in config.fish
  docs/fzf-git-integration.md
  fish/.config/fish/config.fish
Due: validate-config, fish-syntax

feat(ghostty): set zsh as default shell with shell integration
  ghostty/.config/ghostty/config
Due: none

refactor: split setup privilege boundaries
  Makefile
  README.md
  docs/setup/README.md
  docs/setup/installation-guide.md
  docs/setup/migration.md
  docs/setup/security-boundaries.md
  docs/setup/troubleshooting.md
  docs/setup/usage-examples.md
  scripts/bootstrap.sh
  scripts/setup-system.sh
  scripts/setup-user.sh
  scripts/validators/shell-syntax.sh
  setup.sh
  tests/utilities/test_setup_boundaries.bats
Due: validate-config, lint-shell

fix(setup): persist Fish paths by dropping --no-config
  scripts/setup-user.sh
  tests/utilities/test_setup_boundaries.bats
Due: validate-config, lint-shell

Revert "refactor: split setup privilege boundaries"
  Makefile
  README.md
  docs/setup/README.md
  docs/setup/installation-guide.md
  docs/setup/migration.md
  docs/setup/security-boundaries.md
  docs/setup/troubleshooting.md
  docs/setup/usage-examples.md
  scripts/bootstrap.sh
  scripts/setup-system.sh
  scripts/setup-user.sh
  scripts/validators/shell-syntax.sh
  setup.sh
  tests/utilities/test_setup_boundaries.bats
Due: validate-config, lint-shell

fix(bootstrap): keep phase 6 from silently aborting on asdf 0.16+
  scripts/bootstrap.sh
Due: validate-config, lint-shell

chore(brew): add Claude Code and Codex
  brew/Brewfile
Due: none

fix(bootstrap): survive missing Homebrew and untrusted taps
  scripts/bootstrap.sh
Due: validate-config, lint-shell

fix(bootstrap): ask for the admin password instead of aborting
  scripts/bootstrap.sh
Due: validate-config, lint-shell

fix(bootstrap): correct the ecc plugin id and stop phase 11 aborting
  scripts/bootstrap.sh
Due: validate-config, lint-shell

chore(brew): sync Brewfile with installed packages
  brew/Brewfile
Due: none

feat(claude): add a status line showing model and context usage
  claude/.claude/settings.json
  claude/.claude/statusline-command.sh
Due: validate-config, lint-shell

fix(bootstrap): bring Linux support up to parity with macOS
  README.md
  packages/apt.txt
  packages/cachyos-extra.sh
  packages/pacman.txt
  packages/ubuntu-extra.sh
  scripts/bootstrap.sh
Due: validate-config, lint-shell

Path conditions:
  validate-config: any of: (?x)^(
  .*\.fish$|
  .*\.zsh$|
  .*\.sh$|
  .*\.bash$|
  shared/abbreviations\.yaml$|
  shared/environment\.(sh|fish)$
)
, but not: (?x)^(
  scratchpads/.*|
  tests/.*
)

  lint-shell: any of: (?x)^(
  .*\.sh$|
  .*\.bash$|
  scripts/.*|
  shared/.*\.sh$
)
, but not: (?x)^(
  tests/.*|
  scratchpads/.*
)

  check-generated-files: any of: shared/abbreviations\.yaml$
  fish-syntax: any of: \.fish$, but not: (?x)^(
  scratchpads/.*|
  tests/.*
)

  zsh-syntax: any of: \.zsh$, but not: (?x)^(
  scratchpads/.*|
  tests/.*
)

