Repository petrex/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, lint-shell, check-generated-files, fish-syntax, zsh-syntax

Path conditions:
  validate-config: any of: (?x)^(
  .*\.fish$|
  .*\.zsh$|
  .*\.sh$|
  .*\.bash$|
  shared/abbreviations\.yaml$|
  shared/environment\.(sh|fish)$
)
, but not: (?x)^(
  scratchpads/.*|
  tests/.*
)

  lint-shell: any of: (?x)^(
  .*\.sh$|
  .*\.bash$|
  scripts/.*|
  shared/.*\.sh$
)
, but not: (?x)^(
  tests/.*|
  scratchpads/.*
)

  check-generated-files: any of: shared/abbreviations\.yaml$
  fish-syntax: any of: \.fish$, but not: (?x)^(
  scratchpads/.*|
  tests/.*
)

  zsh-syntax: any of: \.zsh$, but not: (?x)^(
  scratchpads/.*|
  tests/.*
)


fix(bootstrap): address Linux VM install failures
  packages/apt.txt
  packages/pacman.txt
  packages/ubuntu-extra.sh
  scripts/bootstrap.sh
Due: validate-config, lint-shell

fix(bootstrap): make the Zap install actually verifiable
  scripts/bootstrap.sh
Due: validate-config, lint-shell

feat(bootstrap): install the Brewfile's desktop apps on Linux too
  README.md
  packages/apt-gui.txt
  packages/cachyos-extra.sh
  packages/pacman-gui.txt
  packages/ubuntu-extra.sh
  scripts/bootstrap.sh
Due: validate-config, lint-shell

fix(bootstrap): make the Ubuntu Starship install actually work
  packages/ubuntu-extra.sh
Due: validate-config, lint-shell

feat(bootstrap): install yay so the Arch AUR path actually works
  packages/cachyos-extra.sh
Due: validate-config, lint-shell

fix(bootstrap): report whether the Codex CLI actually landed on PATH
  packages/cachyos-extra.sh
  packages/ubuntu-extra.sh
Due: validate-config, lint-shell

fix(shell): remove broken npm_config_prefix override in fish/zsh configs
  fish/.config/fish/config.fish
  zsh/.zshrc
Due: validate-config, fish-syntax

fix(bash): guard Homebrew setup on Linux
  bash/.bashrc
Due: none
